* {
  box-sizing: border-box;
  color: rgb(54, 46, 36);
}

.navBar {
  margin: 15px;
}

.footer {
  margin: auto;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social_item {
  width: 25px;
  list-style: none;
}

p {
  margin: 0;
  font-weight: 500;
}

.copyright {
  margin-top: 5px;
}

.fooText {
  font-size: 12px;
}

.img {
  width: auto;
}

.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizz_container {
  background-color: rgb(29, 239, 228);
  width: 700px;
  min-height: 300px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quizz {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.question {
  flex: 0 0 50%;
}

.question_number {
  font-size: 20px;
}

.question_number span {
  font-size: 35px;
}

.question_name {
  margin-top: 20px;
  font-size: 18px;
}

.answear {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: azure;
  background-color: rgb(11 148 141);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgb(10 116 81);
  margin: 5px 0;
  outline: none;
}

button:hover {
  background-color: rgb(5, 78, 54);
}

.refresh_btn {
  width: 400px;
  margin-top: 20px;
}

.section_score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 90px;
  margin-bottom: 15px;
}

.timer {
  color: aquamarine;
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  width: 70px;
  height: 25px;
  padding: 5px;
  color: azure;
  background-color: rgb(11 148 141);
  border: 1px solid rgb(10 116 81);
  cursor: pointer;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: rgb(5, 78, 54);
}

.quizz_wrapper {
  width: 700px;
  min-height: 300px;
  border-radius: 15px;
  padding: 20px;
}
