* {
  box-sizing: border-box;
  color: rgb(54, 46, 36);
}

.navBar {
  margin: 15px;
}

.footer {
  margin: auto;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social_item {
  width: 25px;
  list-style: none;
}

p {
  margin: 0;
  font-weight: 500;
}

.copyright {
  margin-top: 5px;
}

.fooText {
  font-size: 12px;
}

.img {
  width: auto;
}

.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}