
.App {
  width: 1200px
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.nav_container {
padding: 20px 0;
}

.nav_row {
  display: flex;
  justify-content: space-between;
}

.nav_menu {
  display: flex;
  column-gap: 20px;
}

.nav-menu_item {
  list-style: none;
}

a {
  text-decoration: none;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
  padding: 0;
}

.social_item {
  width: 25px;
  list-style: none;
}
